@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "bootstrap.min.css";
body {
  background-color: rgb(231, 231, 231);
}

.row > .col-4 > .card > img {
  height: 220;
}

.splogin {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

.spform {
  margin: auto;
  background-color: rgb(0, 191, 255);
  padding: 50px;
}

a.spreg:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: #0275d8;
}
.material-icons {
  text-align: center;
  margin: auto;
}
button {
  border: none;
  cursor: pointer;
}

.material-icons {
  font-size: 24px;
}
